# Petivolution Monorepo

node_modules/
dist/
coverage/
.vite/
*.log
.DS_Store

# Environment variables
.env
.env.*
!.env.example

# Docker
.dockerignore
docker-compose.yml
docker-compose.override.yml

